fastapi
uvicorn
sqlalchemy
python-multipart==0.0.9
python-dotenv
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability